node_modules
dist
.vercel
.env
.env.*
.DS_Store
*.log
.pwenv
shoot.py
optimize.py
.secenv
set_gh_secret.py
set_secrets.sh
vdeploy.py
livetest.py
dbg.py
refshot.py
verify.py
dbg.py
verify2.py
deploy_full.py
verify3.py
setenv.py
verify_camp.py
